<div class="row">
    <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/ima4.jpeg" class="d-block tales" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/ima4.jpeg" class="d-block tales" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/ima3.jpeg" class="d-block tales" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let product of allProduct">
            <div class="col-md-4 my-2">
                <div class="card">
                    <img src={{product.imagePath}} class="card-img-top" height="250px" width="250px">
                    <div class="card-body">
                         <p><span class="text-primary">ID</span> :{{product.cartId}}</p>
                        <p><span class="text-primary">Name</span> :{{product.ProductName}}</p>
                        <p><span class="text-primary">Price</span>:{{product.productPrice}}</p>
                        <p><span class="text-primary">Detail</span>:{{product.productDetail}}</p>
                        <p><span class="text-primary">category</span>:{{product.categoryType}}</p>
                    </div>
                    <div class="card-footer">
                        <a  class="btn btn-primary" (click)="viewDetail(product.cartId)">View</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>